.booking {
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 60vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  @include desktop {
    // height: 600px;
    width: 70%;
  
  }
  // @include desktop {

  //   height: 320px;
  // }
}