.book {
  width: 8vw;
  height: 8vw;
  border: 1px solid #d31c1c;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d31c1c;
}

.book__date {
  font-weight: 800;
  font-size: 2em;
  
}

.book__month {
  font-weight: 600;
}