.footer {
  background-color: #000;
}

.footer__columns {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__col-right {
  display: flex;
  align-items: center;
  max-width: 30%;
}

.footer__col-left {
  @include tablets {
    margin: 0;
  }
}