.footer {
  // min-height: 35vh;
  background-color: #000;
}

.footer__columns {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

// .footer__col-left,
// .footer__col-right {
  // height: 100%;
// }

.footer__col-right {
  display: flex;
  align-items: center;
  max-width: 30%;
}

.footer__col-left {
  // margin-right: auto;
  @include tablets {
    margin: 0;
  }
}