.footer {
  height: 30vh;
  background-color: #000;
}

.footer__columns {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__col-left,
.footer__col-right {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.footer__col-right {
  width: 30%;

  @include desktop {
    width: 10%;
  }

  @include phones {
    display: none;
  }
}

.footer__col-left {
  flex: 1;
}