.form {
  // height: 100%;
}

.form__rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // height: 100%;
}

.form__row {
  list-style-type: none;
  width: 50%;
  margin-bottom: 20px;
  
}

.form__row-input {
  width: 100%;
  padding: 10px;
  height: 60px;
  border: 1px solid #000;
}

.form__row-head {
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
}