.friends {
  display: flex;
  // text-align: center;
  justify-content: center;
}

.friends__list {
  display: flex;
  // justify-content: space-between;
  width: 80%;
}

.friends__item {
  flex: 1;
  width: 20%;
  padding: 3% 4%;
  border-right: 1px solid #e8d8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}