.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.photos__item {
  margin-bottom: 20px;
  width: 27vw;
  height: 27vw;
}

.photos__item-link {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  height: 480px;


}

.photos__item-pic {
  display: block;
  object-fit: cover;
  width: 100%;
}