.plays {
  display: flex;
}

.plays-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.plays__item {
  width: 30%;
}

.plays__item-image {
  height: 300px;

}

.plays__item-pic {
  // display: block;
  width: 100%;
  object-fit: cover;
}