.poster {
  padding: 2% 0;
  background-color: rgb(236, 236, 236);
}

.poster__avatar {
  // padding: 10px 0;
  // width: 8vh;
  // height: 8vh;
  // object-fit: cover;
}

// .poster__avatar-image {
  // width: 150px;
  // height: 150px;
  // object-fit: cover;
  // border-radius: 50%;
// }