.screen-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  display: none;
  z-index: 200;
  padding: 0 10% 5%;
}

.menu__active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-menu__list {
  color: #fff;
}

.screen-menu__item {
  margin-bottom: 2%;
  text-align: center;
}

.screen-menu__link {
  font-size: 3vh;
  text-decoration: none;
  @include phones {
    font-size: 5vh;
  }
}