.slider-images {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.slider-images__list {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  position: absolute;
  z-index: 10;
  left: 00;
  top: 0;
}

.slider-images__item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
  // border-left: 1px solid #fff;
}

.slider-images__image {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}