.slider-points {
  position: absolute;
  z-index: 10;
  display: flex;
  bottom: 5%;
  left: 50%;
  transform: translateX(-25%);
}

.slider-points__point {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.slider-points__point-btn {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(65, 65, 65, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}