.up {
  position: fixed;
  width: 60px;
  bottom: 3%;
  right: 5%;
  transform: translateX(-50%);
  z-index: 50;
}

.up__pic {
  fill: rgb(0, 0, 0);
  opacity: 0.5;
  transition: opacity 0.5s;
  &:hover {
    opacity: 1;
  }
}