section.hero                      
            .container.container--slider
              .slider
                .slider-images                
                  ul.slider-images__list
                    - for (var i = 1; i < 4; i++)                    
                      li.slider-images__item
                        +image(`slider/${i}.jpg`, 'slider-images__image')
                ul.slider-buttons
                  - 
                    var btns= ['left', 'right']
                  each btn in btns                  
                    li.slider-buttons__button(class=`slider-buttons__button-${btn}`)
                      a.slider-buttons__arrow
                ul.slider-points
                  - for (var i = 0; i < 3; i++)
                    li.slider-points__point
                      a.slider-points__point-btn