section.repertoire
          a(name="repertoire").anchor
          .container
            h2.section-head Репертуар театра
            .plays
              ul.plays-list
                - 
                  var plays= [ 
                    {
                        name: '"Биба. Про Сашу Блока". (6+)',
                        description: 'Это трогательная история об одном дне из детства поэта Александра Блока. Маленький Саша на весь день оставлен с няней. Он ссорится и мирится с ней, играет и сочиняет первые стихи, и очень ждет маму. Мы видим как оживают его фантазии, а еще к нему в гости приходит Пьеро и начинаются настоящие чудеса...'
                    },{
                        name: '"Игра в прятки" (4+)',
                        description: 'Кукольный спектакль "Игра в прятки"- это музыкальное представление с веселыми песенками по мотивам сказок английского писателя Дональда Биссета "Муравей и сахар", "Под ковром", "Игра в прятки" и других. Девочка Шейла не любит скучать, она придумывает себе сказочных друзей и начинает с ними играть, а они открывают ей волшебную страну, полную выдумок и чудес.'
                    },{
                        name: '"Сказки Шаляпина" (6+)',
                        description: 'Необычный спектакль, основанный на биографических материалах, сказках и историях, которые Шаляпин сочинял своим детям. Ирина, Лидочка, Борис, Федька и Танечка ждут папу, а он уехал далеко на гастроли. У детей возникают вопросы: что такое театр и почему папа поёт? Любимец Федора Ивановича, пёсик Булька, вместе с гувернанткой и няней рассказывает детям, как папа был маленьким, за что он полюбил театр и приглашают поиграть в театр прямо дома - ведь папину сказку интересно не просто слушать, но и смотреть.'
                    },{
                        name: '"Крошечка - Хаврошечка" (5+)',
                        description: 'Кукольный спектакль по мотивам русской народной сказки, в котором классическая старинная музыка соединяется с народной, а традиционные тряпичные куклы с профессиональными. На старом колесе от прялки, совершенно без слов, артисты разыгрывают историю маленькой сироты и вместе с ангелом-хранителем ведут ее к счастливому финалу.'                  
                    },{
                        name: '"Рождественское чудо" (5+)',
                        description: 'Спектакль поставлен по одноименному рассказу Ольги Першиной и совмещает старое вертепное действие и современную историю. - В самый сочельник Машенька заболела. Она капризничает и не слушается - ведь праздник все равно будет испорчен, ей придется весь день лежать в постели. Но ночью она совершает удивительное путешествие в Вифлеем и просыпается здоровой.'
                    },{
                        name: '"Прогулка со старым трамваем" (12+)',
                        description: 'История о первой девичьей любви, которая переживается на фоне общих демонстраций, производственной гимнастики и построении светлого будущего. Это спектакль-настроение, переносящий зрителя в ностальгический мир советских 60-х. Один из критиков назвал «Прогулку со старым трамваем» историей «о мужской не-мужественности и девичьей наивности, сделанной куклами, которые как никто отличались человечностью, переживали, страдали и разводили руками, когда не могли принять решение…»'                   
                    }
                  ]
                each play in plays                    
                  li.plays__item
                    .plays__item-image
                      +image(`plays/${play.name}.jpg`, 'plays__item-pic')
                    .plays__item-description
                      h2.plays__item-name #{play.name}                 
                      p.plays__item-text #{play.description}
                      a(
                      href="#call"
                      ).btn.btn--anchor Заказать звонок