section.reviews
  a(name="reviews").anchor
  .container
    h2.section-head.section-head--reviews отзывы
    .opinions
      ul.opinions__list
        - 
          var opinions= [
            { 
              text: 'С коллективом " Театр без занавеса" знакома с момента их зарождения. Каждый спектакль для меня открытие. Спектакль " Крошечка-Хаврошечка" уникален в своем роде. Во- первых материал не слишком популярный для детских театров. Во- вторых, эмоциональная передача исключительно жестовая с музыкальной окраской В - третьих,отсылки к народным промыслам и ремеслам делают его абсолютно этническим, что само по себе ценно. Отдельно хочется отметить кукловодов. Передача своего отношения к персонажу, владение им как средством выражения просто потрясающее! Спектакль очень тёплый...(начиная с пухового платка) и отсылающий к истокам... Спасибо,что вы есть! Надеюсь на новые встречи и новые спектакли!',
              name: 'Елена Чурбакова',
              link: 'https://vk.com/id7170492'
            },{ 
              text: '28 марта 2015 года театр "Без занавеса" устроил благотворительный показ замечательного спектакля "Биба" для детей инвалидов и детей с особенностями в развитии - подопечных БРОО "Особый Петербург". Дети и родители очень счастливы, спектакль очень понравился и тронул до глубины души!!! От имени БРОО «Особый Петербург» и наших подопечных выражаем всему дружному коллективу театра «Без занавеса» искреннюю признательность и благодарность за сотрудничество, дружбу, а также за неоценимый вклад в развитие отечественной благотворительности. Низкий поклон за ваш труд, доброту, милосердие и неравнодушное отношение к детям с ограниченными возможностями. Желаем вам здоровья, благополучия, процветания и творческих успехов!!! ',
              name: 'Ольга Крылова',
              link: 'https://vk.com/id277697202'
            },{
              text: 'Спасибо, спектакль очень трогательный, ребенок смотрел не отрываясь. Я во время представления наблюдала за мимикой актеров, мне кажется они полностью перевоплотились в своих персонажей, было очень интересно. Еще раз спасибо за искренность и теплоту!',
              name: 'Лидия Алексеева',
              link: 'https://vk.com/id12132153'
            },{
              text: 'Потрясающий спектакль! Я уже давно мечтал попасть на него, но как-то не складывалось. Сегодня моя мечта осуществилась. Очень динамичный и живой спектакль! От самого начала выхода актеров до поклона он держит тебя в восхищении и окунает в волшебство представления! Спектакль подходит абсолютно всем и взрослым и детям. Спасибо большое коллективу спектакля, мне было по-настоящему приятно провести время в вашей компании! Ваш профессионализм и мастерская игра на сцене очень вдохновили меня!',
              name: 'Саша Жуков',
              link: 'https://vk.com/id282500'
            },{
              text: 'Посетили с дочкой спектакль «Сказки Шаляпина». Впечатлились, спектакль с красивыми декорациями, интересными характерными куклами. Большое спасибо актёрам за их мастерство, дочь полностью прониклась сказкой: смеялась от души над забавной Булькой. Да и сама обстановка в Театральной долине очень чудесная, сотрудники вежливые и приветливые. Мы остались довольными от увиденного. Обязательно посетим и другие спектакли.',
              name: 'Olga Mylnikova',
              link: 'https://vk.com/id840684'
            },{
              text: 'Огромное спасибо режиссеру спектакля Юлии Моревой , замечательный спектакль, волшебная атмосфера. Иногда в жизни как раз этого и не хватает. Отдельное спасибо актерам !!Еременко Зинаида и Екатерина Вильнер, играли бесподобно как будто персонажи того времени перенеслись в наш 21 век. Дочку мою покорила Булька, обязательно напишем письмо. Были первый раз и теперь знаем , что не последний. По больше бы таких интересных спектаклей детям , которые несут не только эстетическое удовольствие , но и интеллектуальное!',
              name: 'Ксения Мельниченко',
              link: 'https://vk.com/id2393492'
            }
          ]                              
        each opinion in opinions
          li.opinions__item            
            p.opinions__item-text #{opinion.text}
            a(href=`${opinion.link}`).opinions__item-link #{opinion.name}