section.team
          a(name="team").anchor
          .container
            h2.section-head ТВОРЧЕСКАЯ ГРУППА
            .people
              ul.people__list
                - 
                  var peoples= [
                    { 
                      name: 'Юлия Морева',
                      position: 'Режиссер театра',
                      description: 'С 1981 - 1984 занималась в театральной студии «Синий мост», с 1983 - 1986 работала в БДТ им. Горького, с 1987 в Санкт-Петербургском Государственном кукольном театре Сказки, с 2010 в Учебном театре РГИСИ (бывш. СПбГАТИ), в 2014 закончила Санкт-Петербургский Государственный Университет культуры и искусств. В 2010 создала театр кукол «Без занавеса». Автор пьесы «Биба» и спектаклей «Биба. Про Сашу Блока», «Прогулка со старым трамваем», «Рождественское чудо», «Игра в прятки», «Сказки Шаляпина», «Крошечка-Хаврошечка».'
                    },{ 
                      name: 'Катерина Вильнер',
                      position: 'Актриса театра',
                      description: 'Актриса, режиссер, педагог. С 5 до 15 лет Катерина занималась в Детском музыкальном театре "Праздник", и дальнейшей своей жизни без праздника уже не видела. В 2008 году закончила ЛОККиИ по специальности "Постановка театрализованных представлений", а в 2014 закончила Санкт-Петербургский Государственный Университет культуры и искусств, кафедра режиссуры. Катерина стояла у истоков Театра "Без занавеса". С момента его зарождения, 2010 года, и по сей день, играет няню Соню в спектакле "Биба. Про Сашу Блока". Также ее можно увидеть в спектаклях , «Прогулка со старым трамваем», «Рождественское чудо», «Игра в прятки» и «Сказки Шаляпина».'
                    },{
                      name: 'Зинаида Еременко',
                      position: 'Актриса театра',
                      description: 'Детская мечта в один прекрасный день заставила Зинаиду повернуть свою жизнь на 360 градусов: уйти из экономического университета и купить билет в один конец в Санкт-Петербург. И не зря! Зина окончила СПбГУКИ по специальности режиссёр, а в 2011 году и присоединилась к театру "Без занавеса" в роли Любочки Менделеевой в спектакле "Биба. Про Сашу Блока", которую исполняет и по сей день. Также увидеть ее можно в спектакле "Сказки Шаляпина" в ролях Амалии Ивановны, няни детей Шаляпина, и любимца наших зрителей Бульки.'
                    },{
                      name: 'Софья Благова-Чернявская',
                      position: 'Актриса театра',
                      description: 'Училась в музыкально-педагогическом колледже.В 2016 году закончила СПбГАТИ, факультет театра кукол, мастерская Т.Р.Стависской С 2012 года работает в Кукольным театре сказки. Занята в спектаклях: «Айболит», «Аладдин и волшебная лампа», «Волшебник Изумрудного города», «Маленький Мук», «Любопытный тигрёнок Бинки» и многих других. С 2014 года актриса в театре Без занавеса. Маленький Саша в спектакле «Биба. Про Сашу Блока», и все друзья и ожившие фантазии девочки Шейлы в «Игре в прятки». Принимает участие в благотворительных проектах нашего театра.'
                    },{
                      name: 'Анна Лебедева',
                      position: 'Актриса театра',
                      description: 'Актриса, режиссер, певица. В 2008м году стала дипломированным специалистом в области музыкальной педагогики. В 2013 году окончила СПБГИК кафедру режиссуры и продюсирования шоу-программ. На протяжении нескольких лет руководила конным театром "Нева", результатом работы стали спектакли "Муха Цокотуха", "Огонь, Вода и Медные Трубы или Сказка о каменной царевне", "Как купец Ерема невесту искал", а так же различные шоу-номера, которые были представлены в рамках международных выставок "Иппосфера" 2013,2014,2015. Параллельно преподавала вокал в детской шоу-группе "Саманта" петербургского композитора Евгении Зарицкой. В 2017-м году стала частью коллектива театра кукол "Посмотрим", принимает участие в постановке "Колючие пушинки и пушистые колючки". На данный момент работает на радио "Петербург" корреспондентом, освещая культурные события города. С 2018го года стала актрисой театра "Без занавеса".'
                    },{
                      name: 'Даниил Рабинович',
                      position: 'Актер театра',
                      description: 'Занимался в театральной мастерской «Штрих» при доме детского творчества Петроградского района, в 2013 году поступил в РГИСИ ( бывш. СПбГАТИ) на факультет театра кукол, мастерская И.К.Ласкари. Принимал участие в спектакле «Горько-медовая фотография» театра «Маленькие великаны». После окончания института работает в театре «Кот Вильям», играет в спектаклях «Красная шапочка», «Сказки», «Лесные истории», «Серый волк и пианино», «В гостях у кошки». С 2017 года актёр театра Без занавеса, занят в спектаклях «Биба. Про Сашу Блока» и «Крошечка-Хаврошечка».'
                    },{
                      name: 'Станислав Демин',
                      position: 'Актер театра',
                      description: 'Окончил РГИСИ. Актёр в МТК - малый театр кукол. В театре Без занавеса с 2015 года. Играет в «Биба. Про Сашу Блока» Пьеро.'
                    },{
                      name: 'Тамара Путрик',
                      position: 'Актриса театра',
                      description: '2016 г. закончила Екатеринбургский Государственный Театральный Институт, факультет театра кукол, мастерская Н. Г. Холмогоровой 2016-2017 г. актриса в Омском Государственном театре куклы, актёра, маски "Арлекин" С 2017 г. актриса в Санкт-Петербургском Государственном "Кукольном Театре Сказки", занята в спектаклях: Волшебник Изумрудного города, Снежная королева, Чу-ко-ко, Сказки африканского леса,Королевский бутерброд, Маленький Мук, Приключения незадачливого дракона и других. В театре Без занавеса её можно увидеть в спектакле «Игра в прятки» и Крошечка-Хаврошечка» в роли Хаврошечки.'
                    },{
                      name: 'Роман Антонюк',
                      position: 'Актер и продюсер театра',
                      description: 'Мой путь к театру был долoг и тернист. С 1995 года я начал заниматься балетом. Но, что-то пошло не так и уже через пару лет я остался единственным мальчиком в группе. Тогда за полярным кругом в далеком Мурманске я познакомился с театром-студией "Катарсис". Закончив школу с математическим уклоном, я с лёгкостью поступил в Университет Культуры и искусств на режиссерский факультет. Каких-то 9 лет, (да, именно 9) и я уже дипломированный специалист 2013 года выпуска. По пути работал в Михайловском театре, занимался организацией экскурсий в Финляндии, трудился на родном факультете, работал режиссером в Кронштадтском ДК, был аниматором, актером в небольших постановках, а также замещал несколько лет руководителя театральной студии в ЦКД "Кировец". Знакомство с театром кукол "Без занавеса" было случайным, но завораживающим. До сих пор мы неразлучные друзья.'
                    }
                  ]                              
                each people in peoples
                  li.people__item
                    .actor
                      .actor__avatar
                        +image(`team/${people.name}.jpg`, 'actor__avatar-pic')
                      .actor__description
                        h4.actor__description-name #{people.name}
                        h5.actor__description-position #{people.position}
                        .actor__description-about
                          p.actor__description-text #{people.description}