section.video
          .container
            h2.section-head Видео со спектаклей
            .event-video
              ul.event-video__list
                - 
                  var events= [ 
                    {
                        name: '"Крошечка-Хаврошечка" (5+)',
                        description: '- это кукольный спектакль по мотивам русской народной сказки, в котором классическая старинная музыка соединяется с народной, а традиционные тряпичные куклы с профессиональными. На старом колесе от прялки, совершенно без слов, артисты разыгрывают историю маленькой сироты и вместе с ангелом-хранителем ведут ее к счастливому финалу.',
                        link: 'https://www.youtube.com/embed/6-tfQV87zkY',
                    },{
                        name: '"Игра в прятки" (4+)',
                        description: '- Кукольный спектакль "Игра в прятки"- это музыкальное представление с веселыми песенками по мотивам сказок английского писателя Дональда Биссета "Муравей и сахар", "Под ковром", "Игра в прятки" и других. Девочка Шейла не любит скучать, она придумывает себе сказочных друзей и начинает с ними играть, а они открывают ей волшебную страну, полную выдумок и чудес.',
                        link: 'https://www.youtube.com/embed/b80qYS11iZ4',
                    },{
                        name: '"Сказки Шаляпина" (6+) ',
                        description: '- это необычный спектакль, основанный на биографических материалах, сказках и историях, которые Шаляпин сочинял своим детям. Ирина, Лидочка, Борис, Федька и Танечка ждут папу, а он уехал далеко на гастроли. У детей возникают вопросы: что такое театр и почему папа поёт? Любимец Федора Ивановича, пёсик Булька, вместе с гувернанткой и няней рассказывает детям, как папа был маленьким, за что он полюбил театр и приглашают поиграть в театр прямо дома - ведь папину сказку интересно не просто слушать, но и смотреть.',
                        link: 'https://www.youtube.com/embed/6TwKK1gRiX4',
                    }
                  ]
                each event in events                    
                  li.event-video__item                    
                    .trailer
                      .trailer__description
                        h3.trailer__description-head #{event.name}
                        p.trailer-description-text #{event.description}
                      .trailer__video
                        iframe(class="trailer__video-clip" src=`${event.link}` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)