include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bez-Zanavesa | main page
  body
    .wrapper
      .maincontent
        include ./sections/screen-menu.pug
        include ./sections/header.pug
        include ./sections/hero.pug
        include ./sections/poster.pug
        include ./sections/repertoire.pug
        include ./sections/video.pug
        include ./sections/feedback.pug
        include ./sections/about.pug
        include ./sections/gallery.pug
        include ./sections/team.pug
        include ./sections/partners.pug
        include ./sections/reviews.pug
        //- include ./sections/contacts.pug
        include ./sections/footer.pug